.DS_Store
Settings/Alfred.alfredpreferences/preferences/local/
Settings/Alfred.alfredpreferences/workflows/user.workflow.*/search
Settings/Alfred.alfredpreferences/workflows/user.workflow.*/blutil
Settings/Alfred.alfredpreferences/workflows/user.workflow.1838F264-63D6-4AE0-9E70-2D0394594BBB/
Settings/Alfred.alfredpreferences/workflows/user.workflow.AE652F8A-41A2-437A-9271-330AF43800AB/