.DS_Store
Settings/Alfred.alfredpreferences/preferences/local/
Settings/Alfred.alfredpreferences/workflows/user.workflow.1125E67F-9478-4DF5-BBD7-BF7890527419/search
Settings/Alfred.alfredpreferences/workflows/user.workflow.76E1FE7F-7E0F-49C2-A773-E3E7198BAA8D/blutil