Host *
	UseKeychain yes
	AddKeysToAgent yes
	IdentityFile ~/.ssh/id_rsa

Host ezio
	User chipp
	Hostname ezio.chipp.dev

Host bis.by
	User root
	Hostname 178.172.236.168

Host pi3
	User chipp
	Hostname 10.0.1.100

Host pi4
	User chipp
	Hostname 10.0.1.110

Host pi3-remote
	User chipp
	ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname pi3.chipp.dev

Host pi4-remote
	User chipp
	ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname pi4.chipp.dev
