<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>048727CE-1B1C-4AE2-8F6C-D8A30A657B56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2231C1F7-05A7-42C8-B315-11AA7F00FA71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>048727CE-1B1C-4AE2-8F6C-D8A30A657B56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>488E9A9E-8AC0-4A63-A5F1-FCC9484BB498</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F900ED7-0028-4678-8C5C-3D5B4CD9A609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EC42E76-3327-4DE6-BAE1-6E4C86022C79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>048727CE-1B1C-4AE2-8F6C-D8A30A657B56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ColorHexa</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>#</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

single="^[A-Fa-f0-9]{6}$"

generate_color () {
	local path=$(mktemp)
	/usr/local/bin/convert -size 100x100 xc:white -fill "#$1" -stroke white -draw "rectangle 0,0,99,99" "png:$path"
	echo $path
}

if [[ $query =~ $single ]] ; then 
	path=$(generate_color $query)

	cat &lt;&lt; EOB
{
	"items": [
		{
	        	"title": "#$query",
			"arg": "$query",
	        	"icon": {
        			"path": "$path"
	        	},
			"text": {
				"copy": "$query"
			}
		}
	]
}
EOB
else
	cat &lt;&lt; EOB
{"items": [{"title": "Enter color hex", "valid": false}]}
EOB
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4EC42E76-3327-4DE6-BAE1-6E4C86022C79</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.colorhexa.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>048727CE-1B1C-4AE2-8F6C-D8A30A657B56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"
regex="^([1-2]?[0-9]{2})[[:space:]]([1-2]?[0-9]{2})[[:space:]]([1-2]?[0-9]{2})$"

if [[ $query =~ $regex ]] ; then
	preview=$(mktemp)
	r="${BASH_REMATCH[1]}"
	g="${BASH_REMATCH[2]}"
	b="${BASH_REMATCH[3]}"
	/usr/local/bin/convert -size 100x100 xc:white -fill "rgb($r,$g,$b)" -stroke white -draw "rectangle 0,0,99,99" "png:$preview"
	
	hex=$(printf %x%x%x $r $g $b)

	cat &lt;&lt; EOB
{
	"items": [
		{
	        	"title": "#$hex",
			"arg": "$hex",
	        	"icon": {
        			"path": "$preview"
	        	},
			"text": {
				"copy": "$hex"
			}
		}
	]
}
EOB
else
	cat &lt;&lt; EOB
{"items": [{"title": "Enter RGB color", "valid": false}]}
EOB
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2231C1F7-05A7-42C8-B315-11AA7F00FA71</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cmp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

compare="^([A-Fa-f0-9]{6}) ([A-Fa-f0-9]{6})$"

if [[ $query =~ $compare ]] ; then
	left="${BASH_REMATCH[1]}"
	right="${BASH_REMATCH[2]}"

	path=$(mktemp)
	/usr/local/bin/convert -size 100x100 xc:none -stroke white -fill none -draw "rectangle 0,0,99,99" -fill "#$left" -stroke none -draw "rectangle 1,1,49,98" -fill "#$right" -stroke none -draw "rectangle 50,1,98,98" "png:$path"

	cat &lt;&lt; EOB
{
	"items": [
		{
	        	"title": "#$left vs #$right",
			"arg": "$path",
	        	"icon": {
        			"path": "$path"
	        	}
		}
	]
}
EOB
else
	cat &lt;&lt; EOB
{"items": [{"title": "Enter color hex", "valid": false}]}
EOB
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>488E9A9E-8AC0-4A63-A5F1-FCC9484BB498</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2F900ED7-0028-4678-8C5C-3D5B4CD9A609</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>048727CE-1B1C-4AE2-8F6C-D8A30A657B56</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>2231C1F7-05A7-42C8-B315-11AA7F00FA71</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2F900ED7-0028-4678-8C5C-3D5B4CD9A609</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>488E9A9E-8AC0-4A63-A5F1-FCC9484BB498</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>4EC42E76-3327-4DE6-BAE1-6E4C86022C79</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
