<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.etrade.jira.ios</string>
	<key>connections</key>
	<dict>
		<key>0A393F4C-84E3-4835-BF52-1F8B21708B67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19F1E7FC-699C-4C60-84E6-32BE3BB2A916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>666E3FC7-98B0-487D-8200-0EEF43C30F7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D4161F-D0D7-43CD-B748-81CC53206649</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7389B0DA-AB9F-4CA0-913A-928BF9762209</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7588744C-2779-4D44-997E-9AE677E8AB74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C37319C-D87E-4AD8-9B88-A30CFC3E7147</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F00C410-13C3-4E65-AFB5-D65D60D10CFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A896FBAC-0A85-4D68-9831-D10F0D042D87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E956B2F2-6637-40CA-AE82-D433CF913E49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9E0E8F3-34A9-4281-9D0B-200EFFBE417F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vladimir Burdukov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>capdev-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CAPDEV-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CAPDEV-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CAPDEV $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D4161F-D0D7-43CD-B748-81CC53206649</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>capuat-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CAPUAT-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CAPUAT-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CAPUAT $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19F1E7FC-699C-4C60-84E6-32BE3BB2A916</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cap-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CAP-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CAP-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CAP $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C37319C-D87E-4AD8-9B88-A30CFC3E7147</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>capsdil-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CAPSDIL-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CAPSDIL-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CAPSDIL $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9E0E8F3-34A9-4281-9D0B-200EFFBE417F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>msa-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key MSA-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="MSA-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue MSA $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7389B0DA-AB9F-4CA0-913A-928BF9762209</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ctcb-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CTCB-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CTCB-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CTCB $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E956B2F2-6637-40CA-AE82-D433CF913E49</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>capdes-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CAPDES-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CAPDES-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CAPDES $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A393F4C-84E3-4835-BF52-1F8B21708B67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e2eqa-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key E2EQA-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="E2EQA-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue E2EQA $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9F00C410-13C3-4E65-AFB5-D65D60D10CFA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>csd-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key CSD-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="CSD-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue CSD $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7588744C-2779-4D44-997E-9AE677E8AB74</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>eco-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key ECO-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="ECO-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue ECO $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A896FBAC-0A85-4D68-9831-D10F0D042D87</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>atlassup-</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[ -n "$1" ] &amp;&amp; [ "$1" -eq "$1" ] 2&gt;/dev/null
if [ $? -ne 0 ]; then
	cat &lt;&lt;EOB
{
	"items": [{
		"title": "Invalid JIRA issue key ATLASSUP-$1",
		"valid": false,
	}]
}
EOB
	exit -1
fi

if [ $((detailed)) -ne $1 ]
then
	KEY="ATLASSUP-$1"

	cat &lt;&lt;EOB
{
	"rerun": 1,
	"variables": {"detailed": "$1"},
	"items": [{
		"uid": "$KEY",
		"title": "$KEY",
		"arg": "https://jira.lgi.io/browse/$KEY",
		"text": {
			"copy": "https://jira.lgi.io/browse/$KEY"
		}
	}]
}
EOB
elif [ $((pull_requests)) -ne $1 ]
then
	echo $((pull_requests)) &gt; /dev/stderr
	./jira issue ATLASSUP $1
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>666E3FC7-98B0-487D-8200-0EEF43C30F7B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A393F4C-84E3-4835-BF52-1F8B21708B67</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>19F1E7FC-699C-4C60-84E6-32BE3BB2A916</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>666E3FC7-98B0-487D-8200-0EEF43C30F7B</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>72D4161F-D0D7-43CD-B748-81CC53206649</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>7389B0DA-AB9F-4CA0-913A-928BF9762209</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>7588744C-2779-4D44-997E-9AE677E8AB74</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>8C37319C-D87E-4AD8-9B88-A30CFC3E7147</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>9F00C410-13C3-4E65-AFB5-D65D60D10CFA</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>A896FBAC-0A85-4D68-9831-D10F0D042D87</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>E956B2F2-6637-40CA-AE82-D433CF913E49</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>F9E0E8F3-34A9-4281-9D0B-200EFFBE417F</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
